.table {
	border-collapse: collapse;
}

.table th {
    padding: 5px 60px;
    border: 1px solid black;
}

.input__box {
    margin-top: 20px;
}

.input__item {
    margin: 0 10px;
}

.green-line {
    background-color: green;
}